* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* navigation and effect => refernece previous project : http://solace.ist.rit.edu/~ee1641/project1/index.php  */
nav {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 0);
}

nav a {
    display: block;
    padding: 3.2vh;
    text-decoration: none;
    color: white;
}

nav a:hover {
    /* chaning color on hove to indicate link  */
    color: peru;
    transition: 1s ease;
}

body {

    display: flex;
    flex-direction: column;
}

p {
    text-align: justify;
    font-size: 1.6vh;
}

#form-gloves {
    margin-left: 2vh;
}

#homepage {
    /* chatgpt helped me give my image a shade of white to make the text more readable  */
    /* image source: https://4kwallpapers.com/images/wallpapers/workout-limitless-endurance-gym-colorful-smoke-3556x2000-929.jpg */
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('../media/homepage1.jpg');
    /* centering everything in the homepage block   */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* making some space before we enter the next page  */
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 100vh;
}

#homepage h1 {
    font-size: 8vh;
    padding: 2vh;
    color: black;
}

#homepage a {
    display: block;
    padding: 1.5vh;
    text-decoration: none;
    color: white;
    background-color: rgb(77, 139, 240);
    border-radius: 2vh;
    margin: 2vh;
}

#homepage a:hover {
    color: orange;
    transition: 1s ease;

}

h4 {
    color: peru;
    background-color: black;
    padding: 2vh;
}

section h2 {

    /* making sure it has space in between the other piece of content thats part of the page  */
    padding-top: 10vh;

    /* styling title  */
    font-size: 5vh;
    color: black;

}

section h3 {
    font-size: 2vh;
}

section h2,
section h3 {

    /* Centering the title of each section of the page  */
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    background-color: darksalmon;
}

#products {
    background-color: lightsteelblue;
}

#order {
    background-color: bisque;
}


.customize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vh;
    background-color: white;
    padding: 4vh;

    border-radius: 5vh;
}

#form-glove {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 0;

}

#order-details {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.customize h1 {
    margin: 3vh;
    font-size: 3.5vh;
    font-family: monospace;
}



.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh;

}

.info-container {
    margin-right: 15vh;
}

#about img,
.customize,
#processing-order,
nav {
    box-shadow: 1vh .5vh 2vh rgb(0, 0, 0, 0.7);

}


select {
    width: 85%;
    /* padding-right: 25vh; */
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: .5vh;
    margin: 1vh;
    font-size: 1.5vh;
}

.button-layout {
    display: flex;
    flex-direction: row;
    margin-bottom: 13vh;
    margin-top: 5vh;
    margin-left: 1vh;
}

.button-layout input,
Button {
    font-family: monospace;
    text-decoration: none;
    font-size: 2vh;
    border-radius: 1vh;
    padding: 1vh;
}

.positive {
    color: green;
    background-color: white;
    border: 1px solid green;
    margin-right: 1vh;

}

.negative {
    color: red;
    background-color: white;
    border: 1px solid red;
    margin-right: 1vh;

}

.positive:hover {
    background-color: green;
    color: white;
    transition: .5s ease;

}

.negative:hover {
    background-color: red;
    color: white;
    transition: .5s ease;

}

footer {
    padding: 5vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h5 {
    padding: 1vh;
}

footer h2 {
    padding-bottom: 3vh;
}

#finish-order {
    background-color: bisque;
}

form {
    width: 100%;
}

.customize #form-glove input {
    padding: 1vh;
}

.customize p {
    padding-top: 3vh;
}

.customize #form-glove label {
    padding-top: 2vh;
    padding-bottom: 1vh;
}

.customize h5 {
    padding: .5vh;
}

@media only screen and (max-width: 1270px) {
    #homepage {
        /* https://4kwallpapers.com/images/wallpapers/muhammad-ali-boxer-1284x2778-11119.png  */
        background-image: url('../media/tablet.png');
    }

    #homepage h1 {
        font-size: 5vh;
        color: red;
    }

    #homepage a {
        background-color: red;
    }

    #homepage h4 {
        color: red;
    }

    img {
        width: 50vh;
    }

    .wrapper {
        flex-direction: column;

    }

    .info-container {
        margin: 5vh;
    }

    .customize p {
        font-size: 2vh;
    }

    select {
        padding-left: 2vh;
        padding-right: 20vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        border-radius: .5vh;
        margin: 1vh;
        font-size: 1.5vh;
    }

    #form-gloves {
        margin-left: 2vh;
    }


}

@media only screen and (max-width: 600px) {
    #homepage {
        /* https://w0.peakpx.com/wallpaper/378/761/HD-wallpaper-muhammad-ali-fan-art-the-one-greates-boxer-boxing-american-professional-boxer.jpg  */
        background-image: url('../media/hompagePhone.jpg');
    }

    #homepage h1 {
        font-size: 3.5vh;
        color: red;
    }

    #homepage a {
        background-color: red;
    }

    h4 {
        font-size: 1.5vh;
        color: red;
    }

    img {
        width: 40vh;
        margin-bottom: 5vh;
    }

    .wrapper {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    nav {
        justify-content: center;
    }

    nav a {
        padding-right: 1vh;
        padding-left: 0;
        font-size: 1.5vh;
    }

    .info-container {
        margin: 0;
    }

    .customize {
        width: 36vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        align-items: center;
    }

    section h2 {
        font-size: 3vh;
    }

    .customize h1 {
        font-size: 2vh;
    }

    #exception {
        align-items: normal;
    }

    .negative {
        margin-right: 8vh;
        margin-left: 1vh;
    }

    .positive {
        margin-right: 0vh;
    }

    .button-layout {
        margin-left: 0;
    }

    #form-gloves {
        margin-left: 0;
    }

    select {
        padding-right: 0;
    }


}